<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link href="/static/css/metrole.css" rel="stylesheet" id="lhgdialoglink">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="renderer" content="webkit">

  <title>钱包后台管理系统</title>

  <meta name="keywords" content="钱包">
  <meta name="description" content="钱包后台管理">

  <link rel="shortcut icon" href="/static/img/favicon.ico">
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/font-awesome.min.css" rel="stylesheet">
  <!--[if IE 7]>
    <link rel="stylesheet" href="/static/css/font-awesome-ie7.min.css" />
    <![endif]-->
  <link href="/static/css/animated.min.css" rel="stylesheet">
  <link href="/static/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/common.css" type="text/css">
</head>

<body class="fixed-sidebar full-height-layout gray-bg  pace-done" style="overflow:hidden">
  <div style="left: 0px; top: 0px; visibility: hidden; position: absolute;" class="">
    <table class="ui_border">
      <tbody>
        <tr>
          <td class="ui_lt"></td>
          <td class="ui_t"></td>
          <td class="ui_rt"></td>
        </tr>
        <tr>
          <td class="ui_l"></td>
          <td class="ui_c">
            <div class="ui_inner">
              <table class="ui_dialog">
                <tbody>
                  <tr>
                    <td colspan="2">
                      <div class="ui_title_bar">
                        <div class="ui_title" unselectable="on" style="cursor: move;"></div>
                        <div class="ui_title_buttons">
                          <a class="ui_min" href="javascript:void(0);" title="最小化" style="display: inline-block;">
                            <b class="ui_min_b"></b>
                          </a>
                          <a class="ui_max" href="javascript:void(0);" title="最大化" style="display: inline-block;">
                            <b class="ui_max_b"></b>
                          </a>
                          <a class="ui_res" href="javascript:void(0);" title="还原">
                            <b class="ui_res_b"></b>
                            <b class="ui_res_t"></b>
                          </a>
                          <a class="ui_close" href="javascript:void(0);" title="关闭(esc键)" style="display: inline-block;">×</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="ui_icon" style="display: none;"></td>
                    <td class="ui_main" style="width: auto; height: auto;">
                      <div class="ui_content" style="padding: 10px;"></div>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <div class="ui_buttons" style="display: none;"></div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
          <td class="ui_r"></td>
        </tr>
        <tr>
          <td class="ui_lb"></td>
          <td class="ui_b"></td>
          <td class="ui_rb" style="cursor: se-resize;"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pace  pace-inactive">
    <div class="pace-progress" data-progress-text="100%" data-progress="99" style="width: 100%;">
      <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div>
  </div>
  <div id="wrapper">
    <!--左侧导航开始-->
    <nav class="navbar-default navbar-static-side" role="navigation" style="z-index: 1991;">
      <div class="nav-close">
        <i class="fa fa-times-circle"></i>
      </div>
      <div class="slimScrollDiv" style="position: relative; width: auto; height: 100%;">
        <div class="sidebar-collapse" style="width: auto; height: 100%;">
          <ul class="nav" id="side-menu">
            <li class="nav-header">
              <div class="dropdown profile-element">
                <span>
                  <img alt="image" class="img-circle" style="margin-left:15px;" src="/static/img/70.jpg">
                </span>
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                  <span class="clear" style="margin-left:28px;">
                    <span class="block m-t-xs">
                      <strong class="font-bold">{{.userName}}</strong>
                    </span>
                    <span class="text-muted text-xs block">{{.nickName}}
                      <b class="caret"></b>
                    </span>
                  </span>
                </a>
                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                  <li>
                    <a href="javascript:updatePwd();">
                      修改密码
                    </a>
                  </li>

                  <li>
                    <a href="javascript:clearLocalstorage()">清除缓存</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="javascript:logout()">注销</a>
                  </li>
                </ul>
              </div>
              <div class="logo-element">钱包后台管理
              </div>
            </li>
            <li>
              <a href="/Home/Login" class="">
                <i class="fa fa-columns"></i>
                <span class="menu-text">系统管理</span>
                <span class="fa arrow"></span>
              </a>
              <ul class="nav nav-second-level collapse">
                {{if .IsAdmin}}
                <li>
                  <a class="J_menuItem" href="/User/InitList" data-index="1">用户管理</a>
                </li>
                {{end}}
                <li>
                  <a class="J_menuItem" href="/Version/InitList" data-index="2">版本管理</a>
                </li>
                <li>
                  <a class="J_menuItem" href="/Message/InitList" data-index="3">系统消息</a>
                </li>
                <li>
                  <a class="J_menuItem" href="/Question/InitList" data-index="4">意见反馈</a>
                </li>
              </ul>
            </li>

          </ul>
        </div>
        <div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 4px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 613.938px;"></div>
        <div class="slimScrollRail" style="width: 4px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.9; z-index: 90; right: 1px;"></div>
      </div>
    </nav>
    <!--左侧导航结束-->
    <!--右侧部分开始-->
    <div id="page-wrapper" class="gray-bg dashbard-1">
      <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
          <div class="navbar-header" style="height: 60px;">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#">
              <i class="fa fa-bars"></i>
            </a>
            <form role="search" class="navbar-form-custom" method="post">
              <div class="form-group">
                <input type="text" placeholder="欢迎使用钱包后台管理系统" class="form-control" name="top-search" id="top-search">
              </div>
            </form>
          </div>

          <ul class="nav navbar-top-links navbar-right">

            <li class="dropdown hidden-xs">
              <a class="right-sidebar-toggle" aria-expanded="false">
                <i class="fa fa-tasks"></i> 主题
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="row content-tabs">
        <button class="roll-nav roll-left J_tabLeft">
          <i class="fa fa-backward"></i>
        </button>
        <nav class="page-tabs J_menuTabs">
          <div class="page-tabs-content">
            <a href="javascript:;" class="active J_menuTab" data-id="loginController.do?hplushome">首页</a>
          </div>
          <button class="roll-nav roll-right J_tabRight">
            <i class="fa fa-forward"></i>
          </button>
          <div class="btn-group roll-nav roll-right">
            <button class="dropdown J_tabClose" data-toggle="dropdown">关闭操作
              <span class="caret"></span>

            </button>
            <ul role="menu" class="dropdown-menu dropdown-menu-right">
              <li class="J_tabShowActive">
                <a>定位当前选项卡</a>
              </li>
              <li class="divider"></li>
              <li class="J_tabCloseAll">
                <a>关闭全部选项卡</a>
              </li>
              <li class="J_tabCloseOther">
                <a>关闭其他选项卡</a>
              </li>
            </ul>
          </div>
          <a href="javascript:logout()" class="roll-nav roll-right J_tabExit" style="padding:0 0px;">
            <i class="fa fa fa-sign-out"></i> 退出</a>
        </nav>
      </div>
      <div class="row J_mainContent" id="content-main">
        <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="" frameborder="0" data-id="loginController.do?hplushome"
          seamless=""></iframe>
      </div>
      <div class="footer">
        <div class="pull-right">© 1.0
          <a href="http://www.jeecg.org/" target="_blank">wallet ms</a>
        </div>
      </div>
    </div>
    <!--右侧部分结束-->
    <!--右侧边栏开始-->
    <div id="right-sidebar">
      <div class="slimScrollDiv" style="position: relative; width: auto; height: 100%;">
        <div class="sidebar-container" style="width: auto; height: 100%;">

          <ul class="nav nav-tabs navs-3">

            <li class="active">
              <a data-toggle="tab" href="#tab-1">
                <i class="fa fa-gear"></i> 主题
              </a>
            </li>
          </ul>

          <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
              <div class="sidebar-title">
                <h3>
                  <i class="fa fa-comments-o"></i> 主题设置</h3>
                <small>
                  <i class="fa fa-tim"></i> 你可以从这里选择和预览主题的布局和样式，这些设置会被保存在本地，下次打开的时候会直接应用这些设置。</small>
              </div>
              <div class="skin-setttings">
                <div class="title">主题设置</div>
                <div class="setings-item">
                  <span>收起左侧菜单</span>
                  <div class="switch">
                    <div class="onoffswitch">
                      <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="collapsemenu">
                      <label class="onoffswitch-label" for="collapsemenu">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="setings-item">
                  <span>固定顶部</span>

                  <div class="switch">
                    <div class="onoffswitch">
                      <input type="checkbox" name="fixednavbar" class="onoffswitch-checkbox" id="fixednavbar">
                      <label class="onoffswitch-label" for="fixednavbar">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="setings-item">
                  <span>
                    固定宽度
                  </span>

                  <div class="switch">
                    <div class="onoffswitch">
                      <input type="checkbox" name="boxedlayout" class="onoffswitch-checkbox" id="boxedlayout">
                      <label class="onoffswitch-label" for="boxedlayout">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="title">皮肤选择</div>
                <div class="setings-item default-skin nb">
                  <span class="skin-name ">
                    <a href="#" class="s-skin-0">
                      默认皮肤
                    </a>
                  </span>
                </div>
                <div class="setings-item blue-skin nb">
                  <span class="skin-name ">
                    <a href="#" class="s-skin-1">
                      蓝色主题
                    </a>
                  </span>
                </div>
                <div class="setings-item yellow-skin nb">
                  <span class="skin-name ">
                    <a href="#" class="s-skin-3">
                      黄色/紫色主题
                    </a>
                  </span>
                </div>
              </div>
            </div>

          </div>

        </div>
        <div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 4px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 608px;"></div>
        <div class="slimScrollRail" style="width: 4px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.4; z-index: 90; right: 1px;"></div>
      </div>
    </div>
    <!--右侧边栏结束-->
    <!--mini聊天窗口开始-->


    <!--mini聊天窗口结束-->
  </div>

  <!-- 全局js -->
  <script src="/static/js/jquery-2.1.1.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/jquery.metisMenu.js"></script>
  <script src="/static/js/jquery.slimscroll.min.js"></script>
  <script type="text/javascript" src="/static/js/layer/layer.js"></script>

  <!-- 自定义js -->
  <script src="/static/js/hplus.js"></script>
  <script type="text/javascript" src="/static/js/contabs.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap-tab.js"></script>
  <script type="text/javascript" src="/static/js/zh-cn.js"></script>
  <script type="text/javascript" src="/static/js/curdtools_zh-cn.js"></script>
  <script type="text/javascript" src="/static/js/easyuiextend.js"></script>
  <script type="text/javascript" src="/static/js/jquery-hftable.js"></script>
  <script type="text/javascript" src="/static/js/json2.js"></script>
  <!-- 第三方插件 -->
  <script src="/static/js/pace.min.js"></script>
  <!-- Sweet alert -->
  <script src="/static/js/sweetalert.min.js"></script>
  <script src="/static/js/jquery.storageapi.min.js"></script>
  <!-- 弹出TAB -->
  <script type="text/javascript" src="/static/js/hplus-tab.js"></script>
  <script>
    function logout() {

      layer.confirm('您确定要注销吗？', {
        btn: ['确定', '取消'], //按钮
        shade: false //不显示遮罩
      }, function () {
        location.href = "/Home/Logout";
      }, function () {
        return;
      });
    }
    function clearLocalstorage() {
      var storage = $.localStorage;
      if (!storage)
        storage = $.cookieStorage;
      storage.removeAll();
      //bootbox.alert( "浏览器缓存清除成功!");
      layer.msg("浏览器缓存清除成功!");
    }
    function updatePwd() {
        layer.open({
          type: 2,
          title: '忘记密码',
          shadeClose: true,
          shade: 0.5,
          area: ['35%', '45%'],
          content: '/Home/InitPass', //iframe的url
          btn: ['确定', '取消'],
          btn1: function (index, layero) {
            var btnObjs = layer.getChildFrame('#submitBtn', index);
            var _index = index;
            $(btnObjs[0]).click();
          }
        });
      }
  </script>

</body>

</html>