<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>消息</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!--  IE10 viewport hack for Surface/desktop Windows 8 bug-->
    <link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="/static/js/ie/html5shiv.js"></script>
    <script src="/static/js/ie/respond.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container text-center">
        <form id="updateform" class="form-horizontal">
            <input type="hidden" id="id" name="id" value="{{.message.MsgId}}">
            <div class="form-group">
                <label for="title" class="col-sm-2 col-xs-2 control-label text-right"><font color="red">*</font>标题:</label>
                <div class="col-sm-9 col-xs-9">
                    <input type="text" class="form-control" id="title" name="title" value="{{.message.Title}}">
                </div>
            </div>

            <div class="form-group">
                <label for="content" class="col-sm-2 col-xs-2 control-label text-right">
                    <font color="red">*</font>内容:
                </label>
                <div class="col-sm-9 col-xs-9">
                    <textarea class="form-control" style="height:100px;" id="content" name="content">{{.message.Content}}</textarea>
                </div>
            </div>

            <div class="text-right">
                <span id="returnMessage" class="glyphicon"> </span>
                <button id="submitBtn" type="button" style="display:none;">确定</button>
            </div>
        </form>
    </div>


    <script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrapValidator.min.js"></script>

    <script type='text/javascript'>
        var form = $('#updateform');
        $(document).ready(function () {

            form.bootstrapValidator({
                message: '输入值不合法',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    title: {
                        validators: {
                            notEmpty: {
                                message: '标题不能为空'
                            }
                        }
                    },
                    content: {
                        validators: {
                            notEmpty: {
                                message: '消息内容不能为空'
                            }
                        }
                    } 
                }
            });
        });
        $("#submitBtn").click(function () {
            //进行表单验证
            var bv = form.data('bootstrapValidator');
            bv.validate();
            if (bv.isValid()) {
                //发送ajax请求
                $.ajax({
                    url: '/Message/AddMessage',
                    async: false,//同步，会阻塞操作
                    type: 'POST',//PUT DELETE POST
                    data: form.serialize(),
                    success: function (result) {
                        if(result.Status==0) {
                            var index = parent.layer.getFrameIndex(window.name);
                            var iframe = $(window.parent.document).find("iframe[name='iframe3']")[0];
                            iframe.contentWindow.doSearch();
                            //1：勾号 2：X号 3：？号  4：锁  5：哭脸 6：笑脸 7：！号
                            top.layer.msg('添加成功。', { icon: 6, shade: [0.6, '#393D49'], scrollbar: false, time: 1000 });
                            parent.layer.close(index);
                        } else {
                            top.layer.alert(result.Msg);
                        }
                    }, error: function () {
                        top.layer.alert("网络异常，添加失败!");
                    }
                })
            }
        });
    </script>
</body>

</html>